/* Fuente de google */
h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 850;
}
/*== variable css ==*/
:root {
  --header-height: 3rem;
  --nav-width: 324px;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*== Colores ==*/
  --first-color: rgb(25, 190, 236);
  --first-color-dark: rgb(30, 140, 170);
  --first-color-darken: rgb(50, 90, 190);
  --text-color: rgb(0, 0, 0);
  --first-color-light: rgb(138, 152, 255);
  --first-color-ligthen: rgb(255, 255, 255);
  /*== Fuente y tipografia ==*/
  --body-font: "Dosis", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  /*== Margenes ==*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  /*== index ==*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*== base ==*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-ligthen);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*== clase css ==*/
.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/*== Layout gral ==*/
.bd-grid{
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-ligthen);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

.nav__item{
  margin-bottom: var(--mb-4);
}

.nav__link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-ligthen);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover{
  color: var(--text-color);
}

.nav__toggle{
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/*== Mostrar menu ==*/
.show{
  left: 0;
}

/*== Menu activo ==*/
.active{
  color: var(--text-color);
}

/* Inicio */
.Home__container{
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.Home__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.Home_img {
  width: 150px;
  height: 150px;
  background-color: var(--first-color-ligthen);
  border-radius: 60%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.Home_img img{
  width: 155px;
}

.Home__title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.Home__profession {
  font-size: var(--medium-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

.Home__social{
  margin-bottom: 5rem;
}

.Home__social-link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-ligthen);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.Home__social-link:hover{
  background-color: var(--first-color-dark);
}

/* Acerca de mi */
.about__container{
  row-gap: 2rem;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-4);
}

.about__img{
  width: 150px;
  border-radius: .5rem;
  margin: 0 auto;
}

.about__information{
  margin-bottom: var(--mb-4);
}

.about__information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.about__information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about__information-subtitle{
  display: block;
  font-weight: var(--mb-4);
}

.about__information-subtitle-small{
  font-size: var(--small-font-size);
}

/* Trabajos */
.work__container{
  row-gap: 2rem;
}

.work__content{
  padding: 1.5rem .5rem;
  border: 2px solid var(--first-color);
  border-radius: .5rem;
  text-align: center;
}

.work__content-icon{
  font-size: 2rem;
  padding: .5rem;
  background-color: var(--first-color);
  color: var(--first-color-ligthen);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.work__title{
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.work__content, .work__icon, .work__description, .work__title{
  transition: .5s;
}

.work__content:hover{
  background-color: var(--first-color);
}

.work__content:hover .work__icon{
  background-color: var(--first-color-ligthen);
  color: var(--first-color);
}

.work__content:hover .work__title{
  color: var(--first-color-ligthen);
}

.work__content:hover .work__description{
  color: var(--first-color-ligthen);
}

.work__img{
  width: 600px;
  border-radius: .5rem;
  margin: 0 auto;
  padding-top: 1.5rem;
}

/* Contactame */
.contact__container{
  row-gap: 3rem;
}

.contact__imput{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 2px solid var(--first-color);
  background-color: var(--first-color-lighten);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
}

.contact::placeholder{
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact__button{
  outline: none;
  border: 2px solid var(--first-color);
  border-radius: .5rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact__info{
  margin-bottom: var(--mb-3);
}

.contact__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.contact__text{
  display: block;
  padding-left: 1rem;
}

.contact__text-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.contact__info-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3)
}

/* Footer */
.footer{
  background-color: var(--first-color);
  color: var(--first-color-ligthen);
  text-align: center;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__description{
  margin-bottom: var(--mb-2);
}

.footer__copy{
  font-size: var(--small-font-size);
  color: var(--text-color);
}

/* Media queries */
@media screen and (min-width: 768px){
  .home__button{
    width: initial;
  }
  .nav__menu{
    width: var(--nav-width);
  }

  .about__container{
    grid-template-columns: repeat(2,1fr);
  }

  .about__data{
    text-align: initial;
  }

  .about__description{
    margin-bottom: var(--mb-5);
  }

  .about__img{
    width: 220px;
  }

  .about__information{
    padding-left: 4rem;
  }

  /* CONTACTAME */
  .contact__imputs{
    display: grid;
    column-gap: 1.5rem;
  }

  .contact__info{
    padding-left: 3rem;
  }

  .footer{
    background: none;
  }

  .footer__container{
    background-color: var(--first-color);
    padding: 3rem;
    border-radius: .5rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header{
    width: 0;
  }

  .nav__toggle, .nav__logo, .nav__close{
    display: none;
  }

  .nav__menu{
    left: 0;
  }

  .Home__container{
    height: 100vh;
  }

  .section{
    padding: 3rem 0 2rem;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .services__container{
    grid-template-columns: repeat(3,1fr);
  }
}